name: deploy
on:
  push:
    branches:
      - master
jobs:
  pipeline:
    runs-on: ubuntu-latest
    environment: deployment
    strategy:
      matrix:
        node-version: [16.x]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: install
        run: yarn install
      - name: build
        run: yarn run build
      - name: deploy
        run: |
          git config --global user.email "njkznu@gmail.com"
          git config --global user.name "kuzanatoliy"
          npm version patch
          git push
          git push --tags
          git add -f dist types
          git rm -f -r .github .husky src utils .gitignore README.md tsconfig.json yarn.lock
      - name: publish
        run: |
          echo //registry.npmjs.org/:_authToken=${{secrets.NPM_ACCESS_TOKEN}}
          npm publish --access public
